.datatable {
  width: 100%;
  min-width:670px;
  margin: 0;
  padding:0;
  border: 1px solid #bbb;
  border-collapse: collapse;
}

#content-docs, #content-participants, #content-legalworkups, #content-proposedorders, #content-futureevents {float:left; width:100%; overflow:hidden; }

#content-docs .datatable, #content-participants .datatable, #content-legalworkups .datatable, #content-proposedorders .datatable, #content-futureevents .datatable {
  width:100%;
  /*width:95.7%;*/
  min-width:200px;
  /*max-width:280px;*/
  margin: 0;
  padding:0;
  border:0;
  /*border-right: 1px solid #c8cddb;*/
  border-bottom: 1px solid #c8cddb;
  border-collapse: collapse;
}

.datatable tr:hover {
  background-color:#FDE9B5;
  color: #000;
  cursor:pointer;
}

.datatable th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #1B3555;
  font-weight:bold;
  text-align: left;
  vertical-align: top;
  padding: 6px 4px !important;
  border: 0;
  border-bottom: 1px solid #c8cddb;
  background: #e9edf1 url(../themes/custom-theme/images/ui-bg_highlight-soft_90_e9edf1_1x100.png) 0 50% repeat-x;
}
.datatable td {
  padding: 9px 3px;
  text-align: left;
  vertical-align: middle;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #555;
  border-bottom: 1px solid #c8cddb;
}

#content-docs .datatable td, #content-proposedorders .datatable td {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #333;
  padding: 4px 4px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

#content-participants .datatable td {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #333;
  padding: 7px 4px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}

/* docs */
.datatable .doc-nav-left {
  width:4%;
}
.datatable .doc-nav-right {
  width:4%;
  padding-left:0 !important;
}
.datatable .doc-name {
  width:69%;
}
.datatable .doc-name-long {
  width:73%;    /* 77% */
}
.datatable .doc-filer {
  width:5%;
}
.datatable .doc-select {
  width:5%;
}
.datatable .doc-date {
  width:13%;
}

/* participants */
.datatable .participant-name {
  width:50%;
}
.datatable .participant-address {
  width:5%;
}
.datatable .participant-type {
  width:30%;
}
.datatable .participant-date {
  width:15%;
}

/* future events */
.datatable .fevent-dept {
  width:16%;
}
.datatable .fevent-date {
  width:17%;
}
.datatable .fevent-time {
  width:17%;
}
.datatable .fevent-type {
  width:50%;
}


.databable a, .datatable a:link, .datatable a:visited, .datatable a:active {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  /*color: #254062;*/
  color: #444;
  text-decoration:none;
}

.datatable a:hover {
  color: #000;
  text-decoration: underline;
}

.highlighted {
    background-color:#FDE9B5;
}

