body {
    font-family: 'Trebuchet MS', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
    color:#222;
    font-size: 12px;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
#case-number {
    display: block;
    padding:1px 5px 1px 10px;
    background: url(images/arrow-blue.png) no-repeat 0 51%;
}
#loading {
    width: 64px;
    height: 64px;
    padding: 32px;
    margin: 30px auto;
    text-align: center;
}
.notes {
    display: block;
    width: 250px;
    float: left;
    margin-top:5px;
    cursor: pointer;
    /*border: 1px solid #ccc;*/
}
#case-buttons {
    width: 60px;
    float: right;
    /*border: 1px solid #ccc;*/
}
#input-filter {
    width: 80px;
    float: right;
    /*border: 1px solid #ccc;*/
}
#input-case-search {
    width: 200px;
    float: left;
    /*border: 1px solid #ccc;*/
}
.hidden {
    display:none;
}
span.doc-filer-icon {
    display: block;
    width: 13px;
    height: 13px;
    background: url(images/icon-filer.png) no-repeat 50% 50%;
}
span.doc-filer-icon-empty {
    display: block;
    width: 13px;
    height: 13px;
    background: transparent;
}
a.address {
    display: block;
    width: 16px;
    height: 16px;
    background: url(images/icon-address.png) no-repeat 50% 50%;
}
span.address-empty {
    display: block;
    width: 16px;
    height: 16px;
    background: transparent;
}
a.doc-link-icon-left, a.doc-link-icon-left:link, a.doc-link-icon-left:visited,
a.doc-link-icon-right, a.doc-link-icon-right:link, a.doc-link-icon-right:visited {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#333;
  outline:0;
  margin:0;
  padding:0;
  display: block;
  width: 16px;
  height: 16px;
  text-decoration:none !important;
  cursor:pointer;
  text-align: center;
  border: 1px solid #777;
  background: url(images/doc-icon-default.png) no-repeat 50% 50%;
}
a.doc-link-icon-left:hover, a.doc-link-icon-right:hover {
  background: url(images/doc-icon-selected.png) no-repeat 50% 50%;
}
.doc-selected {
  background: url(images/doc-icon-selected.png) no-repeat 50% 50% !important;
}
a.filer-link, a.filer-link:link, a.filer-link:visited {
  text-decoration:none;
  cursor:pointer;
}
.doc-tooltip {
    display: inline-block;
    margin-left: 5px;
    /*width: 12px; */
    /*height: 12px; */
    width: 13px;
    height: 13px;
    background: url(images/icon-tooltip.png) no-repeat 50% 50%;
    /*background: url(images/icon-info.png) no-repeat 50% 50%;*/
    color: #666;
    vertical-align: middle;
    text-decoration:none;
    cursor:pointer;
}
.doc-tooltip:hover {
  background: url(images/icon-tooltip-on.png) no-repeat 50% 50%;
}
.doc-sealed {
    display: inline-block;
    margin-left: 5px;
    width: 13px;
    height: 12px;
    background: url(../../images/icon-sealed.gif) no-repeat 50% 50%;
    vertical-align: middle;
    text-decoration:none;
    cursor: default;
}
input#keyword {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #444;
    /*font-weight: bold;*/
    padding:2px;
}
#casedocs-icon {
    display: block;
    width: 16px;
    height: 16px;
    background: url(images/casedocs_icon.png) no-repeat 0 50%;
}
#workups-icon {
    display: block;
    width: 16px;
    height: 16px;
    background: url(images/workups_icon.png) no-repeat 0 50%;
}
#proposedorders-icon {
    display: block;
    width: 16px;
    height: 16px;
    background: url(images/proposedorders_icon.png) no-repeat 0 50%;
}
#futureevents-icon {
    display: block;
    width: 16px;
    height: 16px;
    background: url(images/schedule-button.png) no-repeat 0 50%;
}
#participants-icon {
    display: block;
    width: 16px;
    height: 16px;
    background: url(images/participants_icon.png) no-repeat 0 50%;
}
.workup-icon {
    float: left;
    display: block;
    width: 16px;
    height: 16px;
    padding-right: 3px;
    background: url(images/document_word.png) 0 50% no-repeat;
}
