.ui-layout-pane { /* all 'panes' */
    background:#fff;
    /*border:1px solid #EBEDF0;*/
    padding:0;
    overflow:auto;
}
.ui-layout-resizer { /* all 'resizer-bars' */
    background:#E5E9ED; /*DBE1E6  EBEDF0;*/
}
.ui-layout-toggler { /* all 'toggler-buttons' */
    background:#A4AEBB;
}
#ui-datepicker-div { /* the 'fix' for the datepicker */
    z-index: 5;
}

.ui-layout-north {
    overflow: hidden;
}

.ui-layout-center {
    padding: 0 !important;
}

.ui-layout-center .ui-layout-content {
    padding:0 !important;
    position: relative; /* contain floated or positioned elements */
    overflow: auto;
    overflow-y: scroll;
}

.ui-layout-center .header {
    margin:0;
    padding:2px 1px 2px 6px;
}

.header {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    background: #80ade5 url(images/pane-header-bkg.png) 0 50% repeat-x;
    border-top: 1px solid #A8B2C0; /* A4AEBC */
    border-bottom: 1px solid #A8B2C0;
    margin:0;
    padding:7px 4px;
    position: relative;
    overflow: hidden;
}

.date-filter {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    background: #80ade5 url(images/pane-header-bkg.png) 0 50% repeat-x;
    /*border-top: 1px solid #A8B2C0; A4AEBC */
    border-bottom: 1px solid #A8B2C0;
    margin:0;
    padding:7px 4px;
    position: relative;
    overflow: hidden;
}

.footer {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: right;
    background: #d6d6d6 url(images/pane-footer-bkg.png) 0 50% repeat-x;
    border-top: 1px solid #99A3B1;
    padding:3px 3px 1px 4px !important;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
