#toolbar-top {
    min-width: 390px;
    overflow: hidden;
    position:relative;
    height: 25px;
    margin: 0;
    padding:3px 4px;
    /* height: 23px; */
    border: 0;
    border-top: 1px solid #EEEEF1; /* #AFB9C5 */
    border-bottom: 1px solid #A4AEBB;
    /*background: #fff url(images/element-bkg.png) repeat-x 0 50%;*/
    background: #D7DBE0 !important; /* DEE1E5  E5E8EB EAECEF */
}
#toolbar-top .toolbar-button {
  position: relative;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#000;
  outline: 0;
  margin:0;
  margin-right:4px;
  padding:5px;
  text-decoration:none !important;
  cursor:pointer;
  text-align: center;
  border: 1px solid #99A3B1; /* #AFB9C5 */
  background: url(images/button-default-bkg-new.png) repeat-x 0 50%;
}
#toolbar-top a.toolbar-button {
  float:left;
  vertical-align:middle;
}
#toolbar-top a.toolbar-button:hover {
  border-color: #444E59;
  background: url(images/button-hover-bkg.png) repeat-x 0 50%;
}
.selected {
  border-color: #444E59;
  background: url(images/button-hover-bkg.png) repeat-x 0 50%;
}
/* home button */
#toolbar-top .toolbar-button-home {
  position: relative;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  font-weight:bold;
  color:#fff;
  outline: 0;
  margin:0;
  margin-right:4px;
  padding:5px 15px 5px 26px;
  /*padding:5px 10px;*/
  text-decoration:none !important;
  cursor:pointer;
  text-align: center;
  /*border: 1px solid #99A3B1;*/
  border: 1px solid #3F5C83; /*133B77  436188*/
  /*border: 1px solid #D0670B;*/
  /*background: url(images/toolbar-button-back.png) no-repeat 50% 50%;*/
  /*background: url(images/toolbar-button-home6.png) no-repeat 50% 50%;*/
  background: url(images/toolbar-button-home7.png) no-repeat 50% 50%;
}
#toolbar-top a.toolbar-button-home {
  float:left;
  vertical-align:middle;
}
/* close button */
#toolbar-top .toolbar-button-close {
  position: relative;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  font-weight:bold;
  color:#fff;
  outline: 0;
  margin:0;
  margin-right:4px;
  padding:5px 15px 5px 17px;
  /*padding:5px 10px;*/
  text-decoration:none !important;
  cursor:pointer;
  text-align: center;
  /*border: 1px solid #99A3B1;*/
  border: 1px solid #3F5C83; /*133B77  436188*/
  /*border: 1px solid #D0670B;*/
  /*background: url(images/toolbar-button-back.png) no-repeat 50% 50%;*/
  /*background: url(images/toolbar-button-home6.png) no-repeat 50% 50%;*/
  background: url(images/toolbar-button-close.png) no-repeat 50% 50%;
}
#toolbar-top a.toolbar-button-close {
  float:left;
  vertical-align:middle;
}
/*
#toolbar-top a.toolbar-button-home:hover {
  background: url(images/toolbar-button-home.png) no-repeat 0 86%;
}
*/
/* print button */
#toolbar-top .toolbar-button-print {
  position: relative;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#000;
  outline: 0;
  margin:0;
  margin-right:4px;
  padding:5px 5px 5px 25px;
  padding:5px 12px;
  text-decoration:none !important;
  cursor:pointer;
  text-align: center;
  border: 1px solid #99A3B1; /* #AFB9C5 */
  background: url(images/toolbar-button-print.png) no-repeat 0 15%;
}
#toolbar-top a.toolbar-button-print {
  float:left;
  vertical-align:middle;
}
#toolbar-top a.toolbar-button-print:hover {
  /*border-color: #444E59;*/
  background: url(images/toolbar-button-print.png) no-repeat 0 86%;
}
/* switch calendar content button docs vs. participants */
.toolbar-button-content {
  position: relative;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#000;
  outline: 0;
  margin:0;
  margin-right:4px;
  padding:5px 27px;
  text-decoration:none !important;
  cursor:pointer;
  text-align: center;
  border: 1px solid #99A3B1; /* #AFB9C5 */
  background: url(images/toolbar-button-content.png) no-repeat 50% 15%;
}
a.toolbar-button-content {
  float:left;
  vertical-align:middle;
}
a.toolbar-button-content:hover {
  /*border-color: #444E59;*/
}
.toolbar-button-content-alt {
  background: url(images/toolbar-button-content.png) no-repeat 50% 86%;
}
/* switch calendar view button on/off */
.toolbar-button-toggle {
  position: relative;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#000;
  outline: 0;
  margin:0;
  margin-right:4px;
  padding:0px 0px;
  text-decoration:none !important;
  cursor:pointer;
  text-align: center;
  border: 0px solid #99A3B1; /* #AFB9C5 */
}
.toolbar-button-view {
  position: relative;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#000;
  outline: 0;
  margin:0;
  margin-right:4px;
  padding:5px 27px;
  text-decoration:none !important;
  cursor:pointer;
  text-align: center;
  border: 1px solid #99A3B1; /* #AFB9C5 */
  background: url(images/toolbar-button-view.png) no-repeat 50% 15%;
}
a.toolbar-button-toggle {
  float:right;
  vertical-align:top;
}
a.toolbar-button-toggle:hover {
  /*border-color: #444E59;*/
}
.toolbar-button-toggle-alt {
  /*background: url(images/toolbar-button-view.png) no-repeat 50% 86%;*/
}
a.toolbar-button-view {
  float:right;
  vertical-align:middle;
}
a.toolbar-button-view:hover {
  /*border-color: #444E59;*/
}
.toolbar-button-view-alt {
  background: url(images/toolbar-button-view.png) no-repeat 50% 86%;
}
/* switch pane button double/single */
.toolbar-button-pane {
  position: relative;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#000;
  outline: 0;
  margin:0;
  margin-right:4px;
  padding:5px 28px;
  text-decoration:none !important;
  cursor:pointer;
  text-align: center;
  border: 1px solid #99A3B1; /* #AFB9C5 */
  background: url(images/toolbar-button-pane.png) no-repeat 50% 15%;
}
a.toolbar-button-pane {
  float:left;
  vertical-align:middle;
}
a.toolbar-button-pane:hover {
  /*border-color: #444E59;*/
}
.toolbar-button-pane-alt {
  background: url(images/toolbar-button-pane.png) no-repeat 50% 86%;
}
/* search button */
.toolbar-button-search {
  position: absolute;
  left:200px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#000;
  outline: 0;
  margin:0;
  margin-right:4px;
  padding:5px 12px;
  text-decoration:none !important;
  cursor:pointer;
  text-align: center;
  border: 1px solid #99A3B1; /* #AFB9C5 */
  background: url(images/toolbar-button-search.png) no-repeat 50% 15%;
}
a.toolbar-button-search {
  float:left;
  vertical-align:middle;
}
a.toolbar-button-search:hover {
  /*border-color: #444E59;*/
  background: url(images/toolbar-button-search.png) no-repeat 50% 86%;
}
.toolbar-button-search-alt {
  background: url(images/toolbar-button-search.png) no-repeat 50% 86%;
}
