body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #444;
  margin:0;
  padding:0;
  background:#fff none;
}

#calendar-simple {
  float: left;
  overflow: hidden;
  background-color: #fff;
}
.datatable {
  width: 100%;
  /* width:95.7%; */
  margin: 0;
  padding: 0;
  border:0;
  /*border-right: 1px solid #c8cddb; */
  border-bottom: 1px solid #c8cddb;
  border-collapse: collapse;
}
.datatable th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #1B3555;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  padding: 7px 5px;
  border: 0;
  border-bottom: 1px solid #c8cddb;
  background: #e9edf1 url(images/pane-header-bkg.png) repeat-x 0 50%;
}
.datatable tr:hover {
  background-color:#FDE9B5;
  color: #000;
  cursor:pointer;
}

.datatable td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #444;
  padding: 7px 5px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}

/*  simple calendar */
/*
.datatable .calendar-number {
    width:10%;
}
*/
.datatable .calendar-case {
    width:30%;
}
.datatable .calendar-title {
    width:70%;
}

tr.highlighted {
    background-color:#FDE9B5;
}

a.casenum-link, a.casenum-link:link, a.casenum-link:visited, a.casenum-link:active {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000; /*283749*/
    font-weight: normal;
    text-align: left;
    text-decoration:none;
    /*
    padding-left: 13px;
    background: url(images/icon-blue-link.png) no-repeat 0 50%;
    */
}
a.casenum-link:hover {
    text-decoration: underline;
}

.data-header {
  margin:0;
  padding:2px 0 2px 5px;
  border-bottom: 1px solid #A8B2C0;
  /*background: #4b6a91 none;*/
  /*background: url(images/main-header-bkg.png) repeat-x 50% 50%;*/
  background: #80ade5 url(images/pane-header-bkg.png) 0 50% repeat-x;
}

.header h3 {
  /*font-family: 'Trebuchet MS', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight:bold;
  color:#1B3555;
  text-align: left;
  margin:0;
  padding:5px 4px 5px 21px;
  /*padding:7px 0 7px 21px;*/
  background: url(images/calendar_icon.png) no-repeat 0 50%;
}
